<footer class="bg-neutral-900 py-8 text-gray-400 text-sm font-sans">
  <div
    class="mx-auto px-6 flex flex-col md:flex-row justify-between items-center"
  >
    <!-- Logo o Nombre -->
    <div class="mb-4 md:mb-0 text-center md:text-left">
      <p>&copy; 2025 BarberCompany. Todos los derechos reservados.</p>
    </div>

    <!-- Links de navegación -->
    <div class="flex space-x-6">
      <a href="#" class="hover:text-white">Inicio</a>
      <a href="#services" class="hover:text-white">Servicios</a>
      <a href="#gallery" class="hover:text-white">Galería</a>
      <a href="#contacts" class="hover:text-white">Contacto</a>
    </div>
  </div>
</footer>
